.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
  animation-name: image-appearance;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;

  @media (orientation: portrait) {
    left: -1rem;
    right: -1rem;
  }

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@keyframes image-appearance {
  to {
    opacity: 1;
  }
}

.result__image-wrapper {
  position: absolute;
  box-sizing: content-box;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
}

.result__suitcase {
  width: 36rem;
  transform: translate3d(-8rem, 28rem, 0) scale(0);
  animation-name: suitcase-appearance;
  animation-duration: 0.4s;
  animation-timing-function: ease;
}

@keyframes suitcase-appearance {
  70% {
    transform: translate3d(-3.2rem, 6.5rem, 0) scale(1.01);
  }

  to {
    transform: translate3d(-3.5rem, 8rem, 0) scale(1);
  }
}

.result__right-leaf {
  width: 29rem;
  padding-left: 10rem;
  padding-bottom: 10rem;
  animation-name: right-leaf-appearance;
  animation-duration: 3s;
}

@keyframes right-leaf-appearance {
  0% {
    opacity: 0;
    transform: translate3d(10rem, 9rem, 0) rotate(-90deg);
  }

  20% {
    transform: translate3d(10rem, 9rem, 0) rotate(7deg);
  }

  35% {
    transform: translate3d(10rem, 9rem, 0) rotate(-20deg);
  }

  60% {
    opacity: 1;
    transform: translate3d(10rem, 9rem, 0) rotate(2deg);
  }

  75% {
    transform: translate3d(10rem, 9rem, 0) rotate(-3deg);
  }

  90% {
    transform: translate3d(10rem, 9rem, 0) rotate(1deg);
  }

  100% {
    transform: translate3d(10rem, 9rem, 0) rotate(0);
  }
}

.result__left-leaf {
  width: 28rem;
  padding-right: 10rem;
  padding-top: 10rem;
  animation-name: left-leaf-appearance;
  animation-duration: 3s;
}

@keyframes left-leaf-appearance {
  0% {
    opacity: 0;
    transform: translate3d(-15rem, 7rem, 0) rotate(90deg);
  }

  22% {
    transform: translate3d(-15rem, 7rem, 0) rotate(-5deg);
  }

  38% {
    transform: translate3d(-15rem, 7rem, 0) rotate(15deg);
  }

  63% {
    opacity: 1;
    transform: translate3d(-15rem, 7rem, 0) rotate(-3deg);
  }

  77% {
    transform: translate3d(-15rem, 7rem, 0) rotate(5deg);
  }

  90% {
    transform: translate3d(-15rem, 7rem, 0) rotate(-1deg);
  }

  100% {
    transform: translate3d(-15rem, 7rem, 0) rotate(0);
  }
}

.result__green-leaf {
  width: 33.2rem;
  padding-left: 30rem;
  animation-name: green-leaf-appearance;
  animation-duration: 3s;
}

@keyframes green-leaf-appearance {
  0% {
    opacity: 0;
    transform: translate3d(0, 13rem, 0) rotate(-60deg);
  }

  25% {
    transform: translate3d(0, 13rem, 0) rotate(7deg);
  }

  40% {
    transform: translate3d(0, 13rem, 0) rotate(-20deg);
  }

  65% {
    opacity: 1;
    transform: translate3d(0, 13rem, 0) rotate(2deg);
  }

  80% {
    transform: translate3d(0, 13rem, 0) rotate(-3deg);
  }

  92% {
    transform: translate3d(0, 13rem, 0) rotate(1deg);
  }

  100% {
    transform: translate3d(0, 13rem, 0) rotate(0);
  }
}

.result__flamingo {
  width: 30rem;
  animation-name: flamingo-appearance;
  animation-duration: 4.8s;

  img {
    animation-name: flamingo-rotate;
    animation-duration: 4.8s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
  }
}

@keyframes flamingo-appearance {
  0% {
    opacity: 0;
    transform: translate3d(-11rem, 26rem, 0);
  }

  10% {
    opacity: 1;
    transform: translate3d(-11rem, 12rem, 0);
  }

  40%,
  70%,
  100% {
    transform: translate3d(-11rem, 12rem, 0);
  }

  25%,
  60%,
  85% {
    transform: translate3d(-12rem, 14rem, 0);
  }
}

@keyframes flamingo-rotate {
  0% {
    transform: rotate(-45deg);
  }

  5%,
  33%,
  35%,
  62%,
  68%,
  92%,
  100% {
    transform: rotate(0);
  }

  22%,
  52%,
  82% {
    transform: rotate(-5deg);
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}
