@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(1.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.intro__message {
  animation-name: fade-in-up;
  animation-duration: 0.8s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.page-header__logo {
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-timing-function: $cubic-fast, $cubic-fast;
  transition-delay: 0.5s;

  .loaded & {
    opacity: 1;
    transform: translateX(0);
  }
}

.page-header__menu {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: $cubic-fast;
  transition-delay: 0.5s;

  .loaded & {
    opacity: 1;
  }

  a {
    &.active {
      &::after {
        transition-property: width;
        transition-duration: 0.5s;
        transition-timing-function: $cubic-fast;
        transition-delay: 0.5s;

        .loaded & {
          width: 100%;
          left: 0;
          right: auto;
        }
      }
    }
  }
}

.page-header__social {
  transition-property: opacity, transform;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: $cubic-fast, $cubic-fast;
  transition-delay: 0.5s, 0.5s;

  .loaded & {
    opacity: 1;
    transform: scale(1);
  }
}

.screen__footer {
  transition-property: opacity, transform;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: $cubic-fast, $cubic-fast;
  transition-delay: 0.5s, 0.5s;

  .loaded & {
    opacity: 1;
    transform: translateY(0);
  }
}

.js-menu-link {
  transition-property: color;
  transition-duration: 0.35s;

  &::after {
    transition-property: width;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
  }

  &:focus {
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }
}

.social-block {
  &:hover {
    .social-block__link {
      animation-name: fade-in-up;
      animation-duration: 0.4s;
      animation-timing-function: $cubic-fast;
      animation-fill-mode: both;

      &--insta {
        animation-delay: 0.25s;
      }

      &--vk {
        animation-delay: 0.5s;
      }
    }
  }
}

.social-block__toggler {
  &:hover {
    .social-block--active & {
      color: $c-dark;
      transform: scale(1.1);

      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: $cubic-fast;

      &::before {
        background-color: $c-light;
        border: 2px solid $c-light;
      }
    }
  }

  &:not(:hover) {
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: $cubic-fast;
  }
}

.social-block__list {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

@keyframes fade-in-to-left {
  from {
    opacity: 0;
    transform: translateX(1.5rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slider__item-text {
  .swiper-slide-active & {
    animation-name: fade-in-to-left;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: 0.3s;
    animation-fill-mode: both;
  }

  .swiper-slide-next & {
    animation-name: fade-in-to-left;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: 0.6s;
    animation-fill-mode: both;
  }
}

@keyframes text-field {
  from {
    transform: translateX(50%) scaleX(0);
  }

  to {
    transform: translateX(0) scaleX(1);
  }
}

.form__field {
  width: calc(100% - 18rem);
  border-radius: 7%;
  transform: translateX(50%) scaleX(0);
  opacity: 0;

  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: linear;
  transition-delay: 0.35s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(4rem);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInUpBig {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes buttonAppear {
  from {
    width: 6rem;
  }

  to {
    width: 100%;
  }
}

@keyframes flamingo {
  0% {
    opacity: 0;
    transform: translate(-5em, 20em) rotate(-20deg);
  }

  5% {
    opacity: 1;
    transform: translate(-5em, 8em);
  }

  28% {
    transform: translate(-5em, 7em) rotate(-6deg);
  }

  52% {
    transform: translate(-5em, 7.8em);
  }

  75% {
    transform: translate(-5em, 7.3em) rotate(-6deg);
  }

  100% {
    transform: translate(-5em, 7.5em);
  }
}

@keyframes suitcase {
  0% {
    transform: translate(0, 20em) scale(0.2);
  }

  100% {
    transform: translate(0, 4.5em);
  }
}

@keyframes leaf1 {
  0% {
    transform: translate(11em, 0) rotate(-15deg);
  }

  17% {
    transform: translate(11em, 0) rotate(10deg);
  }

  33% {
    transform: translate(11em, 0) rotate(-8deg);
  }

  50% {
    transform: translate(11em, 0) rotate(4deg);
  }

  70% {
    transform: translate(11em, 0) rotate(-2deg);
  }

  88% {
    transform: translate(11em, 0) rotate(1deg);
  }

  100% {
    transform: translate(11em, 0);
  }
}

@keyframes leaf2 {
  0% {
    transform: translate(-12em, 7.5em) rotate(30deg);
  }

  20% {
    transform: translate(-12em, 7.5em) rotate(-20deg);
  }

  40% {
    transform: translate(-12em, 7.5em) rotate(6deg);
  }

  55% {
    transform: translate(-12em, 7.5em) rotate(-4deg);
  }

  78% {
    transform: translate(-12em, 7.5em) rotate(2deg);
  }

  90% {
    transform: translate(-12em, 7.5em) rotate(-1deg);
  }

  100% {
    transform: translate(-12em, 7.5em);
  }
}

@keyframes leaf-green {
  0% {
    transform: translate(11em, 7em) rotate(-10deg);
  }

  20% {
    transform: translate(11em, 7em) rotate(6deg);
  }

  40% {
    transform: translate(11em, 7em) rotate(-4deg);
  }

  55% {
    transform: translate(11em, 7em) rotate(2deg);
  }

  78% {
    transform: translate(11em, 7em) rotate(-1deg);
  }

  90% {
    transform: translate(11em, 7em) rotate(1deg);
  }

  100% {
    transform: translate(11em, 7em);
  }
}

@keyframes inputFieldAppear {
  from {
    width: 0;
    padding: 0;
  }
}

@keyframes rotateSlideLeftToRight {
  from {
    transform: translateX(-4rem) rotate(-180deg);
  }

  to {
    transform: initial;
  }
}

@keyframes rotateSlideRightToLeft {
  from {
    transform: translateX(4rem) rotate(180deg);
  }

  to {
    transform: initial;
  }
}

@keyframes mobileFooterAppear {
  from {
    transform: translate(calc(-100% + 3.5rem), calc(100% - 3.5rem));
    color: transparent;
  }

  60% {
    transform: initial;
    color: transparent;
  }

  to {
    transform: initial;
    color: $c-dark;
  }
}
